<a href="https://colab.research.google.com/github/StefanHubner/MachineLearningEconomics/blob/main/Chapter2Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. List comprehension

In [3]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2. Imperative

In [ ]:
def count_characters(string):
    char_count = {}
    for char in string:
        char_count[char] = char_count.get(char, 0) + 1
    return char_count

# Example usage
text = "hello world"
result = count_characters(text)
print(result)

2. Functional

In [48]:
from functools import reduce

def count_elements(l):
    return reduce(lambda acc, char: {**acc, char: acc.get(char, 0) + 1}, l, {})

# ** unpacks all elements of the currently accumulated list
# they are then packed with the new element

text = "hello world"
print(count_elements(text))

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

3. Fibonacci

In [11]:
def fibonacci(n):
    fib = [0, 1]
    for i in range(2, n):
        fib.append(fib[i-1] + fib[i-2])
    return (fib)

fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

3. Fibonacci (recursive = functional)

In [16]:
def fibonacci(n):
  if n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

[fibonacci(i) for i in range(0,10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

4. element-wise addition

In [26]:
add = lambda a: a[0] + a[1] # sum works just as well

def element_wise_sum(list1, list2):
    return list(map(add, zip(list1, list2)))

print(element_wise_sum([1, 2, 3, 4], [5, 6, 7, 8]))

[6, 8, 10, 12]

6. Squares

In [28]:
[(x, x**2) for x in range(1,6)]

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

7. Calculator

In [29]:
def calculator(num1, num2, operator):
    operations = {
        '+': lambda x, y: x + y,
        '-': lambda x, y: x - y,
        '*': lambda x, y: x * y,
        '/': lambda x, y: x / y
    }

    return operations.get(operator, lambda x, y: "Error: Invalid operator")(num1, num2)

print(calculator(6, 3, '+'))
print(calculator(9, 5, '-'))

9
4

8. Student's Grades

In [55]:
class Student:
    def __init__(self, name):
        self.name = name
        self.grades = []

    def add_grade(self, grade):
        self.grades.append(grade)

    def get_average(self):
        return sum(self.grades) / len(self.grades) if self.grades else None

class GradeBook:
    def __init__(self):
        self.students = {}

    def add_student(self, student):
        if student.name not in self.students:
            self.students[student.name] = student
            return True
        return False

    def find_student(self, name):
        return self.students.get(name)

gb = GradeBook()
gb.add_student(Student("Alice"))
gb.add_student(Student("Bob"))

alice = gb.find_student("Alice")
if alice:
    alice.add_grade(85)
    alice.add_grade(92)
    print(f"Alice's average: {alice.get_average()}")

bob = gb.find_student("Bob")
if bob:
    bob.add_grade(78)
    print(f"Bob's average: {bob.get_average()}")

print("Students:", list(gb.students.keys()))

Alice's average: 88.5
Bob's average: 78.0
Students: ['Alice', 'Bob']

9. Str to Int

In [36]:
list(map(int, ["10", "89", "1337"]))

[10, 89, 1337]

10. Filter even numbers

In [42]:
[i for i in range(1,21) if i % 2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [41]:
list(filter(lambda x: x % 2 == 0, range(1, 21)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

11. Prime number generator

In [43]:
def prime_generator():
    def is_prime(n):
        if n < 2:
            return False
        for i in range(2, int(n ** 0.5) + 1):
            if n % i == 0:
                return False
        return True

    n = 2
    while True:
        if is_prime(n):
            yield n
        n += 1

# Example usage
primes = prime_generator()
for _ in range(10):
    print(next(primes))

2
3
5
7
11
13
17
19
23
29

14. Product

In [45]:
def prod(l):
  return reduce(lambda acc, i: i * acc, l, 1)

prod([1,2,3,4,5])

120

15. Bank Account

In [47]:
class BankAccount:
    def __init__(self, balance=0):
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount
        return self.balance

    def withdraw(self, amount):
        if self.balance >= amount:
            self.balance -= amount
            return self.balance
        return "Insufficient funds"

    def check_balance(self):
        return self.balance

# Example usage
account = BankAccount(1000)
print(account.check_balance())
print(account.deposit(500))
print(account.withdraw(200))
print(account.withdraw(2000))
print(account.check_balance())

1000
1500
1300
Insufficient funds
1300

16. Set-Function

In [53]:
# Re-using or generalising old code/functions is always better than writing new code
def remove_duplicates(l):
  return list(count_elements(l).keys())

remove_duplicates([1,2,3,4,4,5,5,5])

[1, 2, 3, 4, 5]

18. Recursive sum of digits

In [54]:
def sum_of_digits(n):
    if n < 10:
        return n
    else:
        return n % 10 + sum_of_digits(n // 10)

print(sum_of_digits(123))
print(sum_of_digits(54321))
print(sum_of_digits(1000))

6
15
1