<a href="https://colab.research.google.com/github/StefanHubner/MachineLearningEconomics/blob/main/ConditionalProbability.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We are working with a sample space $ \Omega $ defining all possible outcomes of rolling two (coloured) dice. We assume the dice are both "fair" and assign an equal probability to each outcome. The corresponding probability measure is denoted by $ P $.

Let us define two random variables. $ S : \Omega \to \mathbb{R} $, the sum of the eyes of the dice.

Further, let $ I : \Omega \to \mathbb{R} $ which takes value one if the eyes of both dices match, and zero otherwise.

We want to make conditional probability statements and, thus, learn $ P(S|I) $.

In [24]:
# Required libraries
library(dplyr)

# Generate the sample space for two dice
dice1 <- 1:6
dice2 <- 1:6

# Define random variables S and I
space <- expand.grid(dice1 = dice1, dice2 = dice2) %>%
  mutate(S = dice1 + dice2,
         I = as.integer(dice1 == dice2))

head(space, n = 8) # Omega | R^2

  dice1 dice2 S I
1 1     1     2 1
2 2     1     3 0
3 3     1     4 0
4 4     1     5 0
5 5     1     6 0
6 6     1     7 0
7 1     2     3 0
8 2     2     4 1

$ P $ measures events in $ \Omega $ but we can relate events for $ S $ and $I $ in $ \mathbb{R}^2 $ back to $ \Omega $ by noting:

$ P(S = 7 \text{ and } I = 1) = P(\{\omega \in \Omega : \omega \in S^{-1}(7) \cap I^{-1}(1) \}) $

This means we take all elementary events that will produce $ S = 7 $ and $ I = 1 $ respectively.

$ S^{-1}(7) = \{(6,1), (5,2), (4,3), (3,4), (2, 5), (1, 6)\} $

and
$ I^{-1}(1) = \{(1,1), (2,2), (3,3), (4,4), (5, 5), (6, 6)\} $

Clearly, their union is the empty set.

$ P(S = 7 \text{ and } I = 1) = P(\{\omega \in \Omega : \omega \in \emptyset \} = 0 $.

Trivially, we also have $ P(S = 7 | I = 1) = 0 $.

Comparing this to $ P(S = 7) = \frac{|S^{-1}(7)|}{|\Omega|}$ where $ |U| $ denotes the cardinality of the set $ U $.

In [22]:
# Calculate conditional probability P( S=7 | I=1 )
K <- nrow(space) # all possible elementary events

# event A: omegas | corresponding outcomes in R^2
A <- filter(space, I == 1)
A

# event B: omegas | corresponding outcomes in R^2
B <- filter(space, S == 7)
B

AunionB <- filter(space, I == 1, S == 7)
AunionB

AcondB <- nrow(AunionB) / nrow(B)
AcondB

  dice1 dice2 S  I
1 1     1      2 1
2 2     2      4 1
3 3     3      6 1
4 4     4      8 1
5 5     5     10 1
6 6     6     12 1

  dice1 dice2 S I
1 6     1     7 0
2 5     2     7 0
3 4     3     7 0
4 3     4     7 0
5 2     5     7 0
6 1     6     7 0

     dice1 dice2 S I